name: Tyr

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Tyr PR verification
        uses: xstefank/tyr-action@dev
        with:
          formatUrl: https://raw.githubusercontent.com/xstefank/test-repo/master/.github/format.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          pushStatus: true
